%section#events-calendar
  .container
    %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?src=devcon.ph_81m0ri06ec08serncrvl8b0k9k%40group.calendar.google.com&ctz=Asia/Manila", :style => "border: 0", :width => "800"}
