%section#events-calendar
  .container
    #calendar
      %iframe{frameborder: "0", height: "600", scrolling: "no", src: "https://calendar.google.com/calendar/embed?title=Philippine%20Tech%20Community%20Events&height=600&wkst=1&bgcolor=%23FFFFFF&src=devcon.ph_pe641e88lk0am241joqsrkk2mo%40group.calendar.google.com&color=%23B1440E&src=devcon.ph_81m0ri06ec08serncrvl8b0k9k%40group.calendar.google.com&color=%2323164E&src=cfad967t5t2dp78rf9g7pjuimk%40group.calendar.google.com&color=%23AB8B00&ctz=Asia%2FManila", style: "border-width:0", width: "800"}
