%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      = link_to 'Communities', root_path, class: 'navbar-brand'
      %button.navbar-toggle{aria: {controls: 'navbar', expanded: 'false'}, data: {target: '#navbar', toggle: 'collapse'}, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right.navtop
        %li{class: 'active'}= link_to 'Home', root_path
        -# %li= link_to 'Events', events_path
        %li= link_to 'Submit Event', new_event_path
